.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #24a37f;
  /* padding: 1px 2px 1px 2px; */
  text-decoration: none;
  border-color: none;
  border: none;
}

.btn:hover {
  background: #1d7159;
  text-decoration: none;
}

.btn-text {
  color: white;
  font-family: "Inter";
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
